

body.Home {

  color: white;
  font-weight: 700;
  background-image:linear-gradient(rgba(0, 0, 0,0.1),rgba(0, 0, 0,0.75)),
   url("c1Yx4P.webp");
  background-attachment: fixed;
  background-size: cover;
}
body.about{
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

body.conect{
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;

}

nav{

  position: fixed;
  right: 3%;
padding: 1vw; 

}
button:hover{

background-color: rgba(255, 255, 255, 0.1);
border: white;
padding: 0.5vw;

}
header {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  padding-left: 30px;
}


.cl{
  position: fixed;
  right: 10px;
  top: 5px;
  padding: 10px 15px;
}
button {
font-size: large;
font-weight: 600;
  border-radius: 10px;
    margin: 0 20px;
  cursor: pointer;

  font-size: medium;
  color: white;
  font-family: Arial;
  border: none;
  background-color: transparent ;

}#content {
  position: fixed;          
  top: 50%;                 
  left: 50%;      
  transform: translate(-50%, -50%); 
  width: 900px;
  height: 800px;
  border: none;
  border-radius: 20px;
}
#color{
  background-color: rgba(0, 0 ,0 ,0.4);
  position: fixed;
  background-size: cover;
  backdrop-filter: blur(6px);
  inset: 0; 
    display: none;

     
}




