body {
    margin: 0;
      background: black;

  color: white;
}
 .div{
           
animation: slid 30s linear infinite ;
       position: fixed;
       inset: 0;
       z-index: -1;
       background-size: cover !important;
       width: 100vw;
       height: 100vh;   
       background-repeat: no-repeat; 
       background-position: center ;
       background-attachment: fixed;
}

@keyframes slid {
 0% {
        background-image: url('/images/A-peaceful-scene-of-a-rainbow-hued-planet-orbiting-in-HD-Space-wallpaper-1080p-with-colorful-rings-and-distant-stars-providing-a-beautiful-cosmic-backdrop.jpg');
    }
    20% {
        background-image: url('/images/A-peaceful-scene-of-a-rainbow-hued-planet-orbiting-in-HD-Space-wallpaper-1080p-with-colorful-rings-and-distant-stars-providing-a-beautiful-cosmic-backdrop.jpg');
    }
    
    25% {
        background-image: url('/images/simple-space-wallpaper-1920x1080-starlit-heavens-universe-26273.jpg');
    } 
    45% {
        background-image: url('/images/simple-space-wallpaper-1920x1080-starlit-heavens-universe-26273.jpg');
    }
  
    50% {
        background-image: url('/images/Dark-.webp');
    }
    70% {
        background-image: url('/images/Dark-.webp');
    }
    75% {
        background-image: url('/images/c1Yx4P.webp');
    }
    95% {
        background-image: url('/images/c1Yx4P.webp');
    } 100% {
        background-image: url('/images/A-peaceful-scene-of-a-rainbow-hued-planet-orbiting-in-HD-Space-wallpaper-1080p-with-colorful-rings-and-distant-stars-providing-a-beautiful-cosmic-backdrop.jpg');
    }
}




body.about,body.conect{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: large;
  border: none;
  line-height: 1.8;

  background-color: rgba(0, 0, 0, 0.6);
  margin: 7% 20%;
}
input ,textarea{
  
  width: 100%;                 
  padding: 7% 6%;      
  margin: 2% 0; 
  border-radius: 30px;        
  background-color: rgba(59, 52, 152, 0.393); 
  font-size: 20px;
  color: rgb(255, 255, 255);
}

nav{
  position: fixed;
  right: 3%;
padding: 1.5vw; 

}
button:hover{
background-color: rgba(255, 255, 255, 0.1);

}
.h{
    color: white;
padding: 1.5vw; 
  padding-left:3%;}
header {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
padding: 1vw; 
  padding-left:2%;
}


.cl{
  position: fixed;
  right: 10px;
  top: 5px;
  padding: 10px 15px;
}
button {
font-size: large;
font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  font-size: medium;
  color: white;
  font-family: Arial;
  border: none;
  background-color: transparent ;
padding: 1.5vw; 


}#content {
  position: fixed;          
  top: 50%;                 
  left: 50%;      
  transform: translate(-50%, -50%); 
  width: 50%;
    height: 75%;
  border: none;
  border-radius: 20px;
    z-index:10;

}
#color{
  background-color: rgba(0, 0 ,0 ,0.4);
  position: fixed;
  background-size: cover;
  backdrop-filter: blur(6px);
  inset: 0; 
  display: none;
  z-index:1;
}































