body {
  margin: 0;
  background: black;
}

.base {
  position: fixed;
  inset: 0;
  background-image: url('A-peaceful-scene-of-a-rainbow-hued-planet-orbiting-in-HD-Space-wallpaper-1080p-with-colorful-rings-and-distant-stars-providing-a-beautiful-cosmic-backdrop.jpg');
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.bg {
  position: fixed;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0;
  animation: fade 24s infinite linear;
}

.bg1 {
  background-image: url('A-peaceful-scene-of-a-rainbow-hued-planet-orbiting-in-HD-Space-wallpaper-1080p-with-colorful-rings-and-distant-stars-providing-a-beautiful-cosmic-backdrop.jpg');
  animation-delay: 0s;
}

.bg2 {
  background-image: url('simple-space-wallpaper-1920x1080-starlit-heavens-universe-26273.jpg');
  animation-delay: 6s;
}

.bg3 {
  background-image: url('Dark-.webp');
  animation-delay: 12s;
}

.bg4 {
  background-image: url('c1Yx4P.webp');
  animation-delay: 18s;
}

@keyframes fade {
  0%   { opacity: 0; }
  15%  { opacity: 1; }
  40%  { opacity: 1; }
  55%  { opacity: 0; }
  100% { opacity: 0; }
}

body.about,body.conect{
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
nav{
  position: fixed;
  right: 3%;
padding: 1.5vw; 

}
button:hover{
background-color: rgba(255, 255, 255, 0.1);

}
.h2{
    color: white;
padding: 1.5vw; 
  padding-left:3%;}
header {
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
padding: 1vw; 
  padding-left:2%;
}


.cl{
  position: fixed;
  right: 10px;
  top: 5px;
  padding: 10px 15px;
}
button {
font-size: large;
font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  font-size: medium;
  color: white;
  font-family: Arial;
  border: none;
  background-color: transparent ;
padding: 1.5vw; 


}#content {
  position: fixed;          
  top: 50%;                 
  left: 50%;      
  transform: translate(-50%, -50%); 
  width: 65%;
    height: 75%;
  border: none;
  border-radius: 20px;
    z-index:10;

}
#color{
  background-color: rgba(0, 0 ,0 ,0.4);
  position: fixed;
  background-size: cover;
  backdrop-filter: blur(6px);
  inset: 0; 
  display: none;
  z-index:1;
}




















